@use 'sass:color';
@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

$bg-color: $color-gh-dark-bg;
$bg-header: color.adjust($bg-color, $lightness: 10%);

.snippet {

    box-shadow: 2px 2px 0.5rem 0 #000;
    border: 1px solid $bg-header;
    border-radius: 0.5rem;
    background-color: $bg-color;
    max-width: 100%;
    margin-bottom: 2rem;

    .mac {
        display: flex;
        gap: 0.5rem;
        align-items: flex-start;
        justify-content: space-between;

        .btns, .utils {
            display: flex;
            gap: 0.5rem;
            margin-top: 0.25rem;
            align-items: flex-start;
            justify-content: space-between;
        }

        padding: 0.5rem;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: $bg-header;

        span.btn:nth-child(1) { background-color: #ff5f56; }
        span.btn:nth-child(2) { background-color: #ffbd2e; }
        span.btn:nth-child(3) { background-color: #27c93f; }

        span.btn {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
        }

        .utils {
            flex-grow: 1;
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }

    pre {
        &:has(> .hljs) {
            background: $bg-color;
        }

        &::selection {
            background: none;
        }

        margin: 0;
    }

    codeline {
        display: inline-block;
        width: max-content;
        min-width: 100%;
        counter-increment: line;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &::before {
            content: counter(line);
            display: inline-block;
            width: 2rem;
            margin-right: 1rem;
            text-align: right;
            color: rgba(#fff, 0.1);
            font-size: 0.8rem;
        }

        &:hover {
            background-color: color.adjust($bg-color, $lightness: 5%);
            transition-duration: 0.1s;
        }

        &.focus {
            background-color: color.adjust($bg-color, $lightness: 10%);
            position: relative;

            &:hover {
                background-color: color.adjust($bg-color, $lightness: 15%);
            }

            &::after {
                content: '\f356';
                font-family: 'Font Awesome 6 Sharp';
                position: absolute;
                left: 0.25rem;
                opacity: 0.1;
            }
        }

    }

    .copy, .copy-lines { cursor: pointer; }

    .lang, .utils span {

        transition: opacity 0.2s ease-in-out;
        font-family: $font-family-mono;
        font-size: 0.8rem;
        color: #fff;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .copy-lines {
        visibility: hidden;
    }

    &:has(codeline.focus) .copy-lines {
        visibility: visible;
    }

}